body {
    margin: 0;
    padding: 0;
    background-color: #bab5b5;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url(/imgs/torcida-vasco2.jpg);
    background-size: cover;
  }

  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
    background-image: url("torcida-vasco2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}
  

#titulo1{
    font-family: 'Righteous';
    font-size: 50px;
    font-style: normal;
    color: red;
}

.header{
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 5));
    color: whitesmoke;
    padding: 20px;
    position: relative;
    margin-top: -10px;
    text-align: center;
    line-height: 0.10;
    font-family: 'Righteous', sans-serif;
    font-style: italic;
    font-size: 20px;
}

nav ul li{
    display: inline-block;
    margin-right: 50px;
    font-family: 'Righteous';
    font-size: 15pt;
}

#logovasco{
    width: 50px;
    position: absolute;
    left: 100px;
    top: 35px;
}

#login{
    position: absolute;
    right: 90px;
    top: 40px;
    font-style: normal;
    text-decoration: none;
    color: white;
    font-family: 'Righteous';
}

#cadastro{
    position: absolute;
    right: 90px;
    top: 60px;
    font-style: normal;
    text-decoration: none;
    color: white;
    font-family: 'Righteous';
}


.noticia{
    text-decoration: none;
    color: white;
}

.ingressos{
    text-decoration: none;
    color: white;
}

.socio{
    text-decoration: none;
    color: white;
}

.imprensa{
    text-decoration: none;
    color: white;
}

.noticias-destaque{
    float: left;
    margin-left: 10px;
    color: white;
    font-size: 10pt;

}

.noticias-destaque img{
    max-width: 1000px;
    border-radius: 20px;
    position: relative;
}

figure#destaque1{
    color: white;
    text-align: center;
}

#cap1{
    text-decoration: none;
    color: white;
    font-size: 20pt;
    font-family: 'Righteous';
}

#cap2{
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue';
    font-size: 16pt;
    letter-spacing: 1pt;
}

